<div class="input-group mt-3">
  <span class="input-group-text" id="basic-addon1">@</span>
  <input
    type="text"
    class="form-control"
    placeholder="Enter your name"
    #name
    required
  />
</div>

<div class="input-group mt-1">
  <textarea
    class="form-control"
    placeholder="Leave a comment here..."
    #body
    required
  ></textarea>

  <div class="input-group-append d-flex">
    <button
      type="submit"
      class="btn btn-primary"
      (click)="addNewComment([name.value, body.value])"
    >
      Comment
    </button>
  </div>
</div>
